/*---------------------------------------------------------------------------------
    Color - 1 css
-----------------------------------------------------------------------------------*/

body,
section {
    background-color: #101012 !important;
}

p {
    color: #eee;
}

.section-title h2 {
    color: #eee;
}

.section-title .title-link a {
    color: #ccc;
}

.section-title .title-link a i {
    color: #ccc;
}

.ms-back-to-top {
    border-color: #272930;
}

.section-title-2 h2 {
    color: #eee;
}

.section-title-2 p {
    color: #ccc;
}

.section-title-3 h2 {
    color: #eee;
}

.header-top-social ul li {
    color: #ccc;
}

.header-top-social ul li a i {
    color: #ccc;
}

.ms-header,
.ms-header-cat {
    background-color: #17181c !important;
}

.header-top {
    background-color: #2c2f36 !important;
}

.header-top .header-top-message {
    color: #ccc;
}

.header-top-lan-curr.dropdown .dropdown-menu {
    background-color: #2c2f36 !important;
    border-color: #3a3d46;
}

.header-top-lan-curr.dropdown .dropdown-menu li {
    border-color: #3a3d46;
}

.header-top-lan-curr.dropdown .dropdown-menu li a {
    color: #ccc !important;
}

.header-top-lan-curr.dropdown .dropdown-toggle {
    color: #ccc;
}

.header-top-lan-curr.dropdown .dropdown-toggle i {
    color: #ccc;
}

.ms-help {
    color: #ccc;
}

.ms-main-menu ul li a {
    color: #ccc;
}

.ms-main-menu ul li a i {
    color: #ccc;
}

.ms-main-menu ul li a .svg_img path {
    fill: #ccc;
}

.ms-header-bottons .ms-header-btn .ms-btn-stitle {
    color: #ccc;
}

.ms-header-bottons .ms-header-btn .header_svg path {
    fill: #ccc;
}

.search_submit .search_svg path {
    fill: #ccc;
}

.ms-main-menu ul li .mega-menu {
    background: #2c2f36 !important;
}

.ms-main-menu ul li .mega-menu li ul li a {
    color: #ccc;
}

.ms-main-menu ul li .mega-menu li ul li.menu_title a {
    border-color: #3a3d46;
}

.ms-main-menu ul li.dropdown ul.sub-menu {
    background: #2c2f36 !important;
}

.ms-main-menu ul li.dropdown ul.sub-menu a {
    color: #ccc;
}

.ms-header-search form.ms-search-group-form {
    border: 1px solid #272930;
}

.ms-search-select-inner:before {
    border-right: 1px solid #272930;
}

.ms-header-cat {
    border-color: #272930;
}

.ms-location-block .ms-location-menu .ms-location-toggle {
    border-color: #272930;
}

.ms-category-menu .ms-category-toggle {
    border-color: #272930;
}

.ms-category-menu .ms-category-toggle .svg_cat path {
    fill: #ccc;
}

.bootstrap-select .dropdown-menu {
    border-color: #272930;
}

.bootstrap-select .bs-searchbox {
    background-color: #17181c !important;
    border-color: #272930;
}

.bootstrap-select .bs-actionsbox .btn-group button {
    background-color: #17181c !important;
    border-color: #272930;
}

.bootstrap-select .dropdown-menu {
    background-color: #17181c !important;
}

.bootstrap-select .dropdown-menu li a:hover,
.bootstrap-select .dropdown-menu li a:focus {
    background-color: #2c2f36 !important;
}

.bootstrap-select .dropdown-toggle:after {
    border-top: 0.3em solid #ccc;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    color: #ccc;
}

.ms-header-bottons .ms-acc-drop .ms-dropdown-menu {
    background: #2c2f36 !important;
}

.ms-header-bottons .ms-acc-drop .ms-dropdown-menu li a {
    color: #ccc;
}

.ms-location-block .ms-location-dropdown {
    background: #2c2f36 !important;
    border-color: #272930;
}

.ms-location-block .ms-location-dropdown .loc-grid .loc-list {
    border-color: #3a3d46;
    color: #ccc;
}

.ms-location-block .ms-location-dropdown .loc-grid .loc-list .svg_loc path {
    fill: #ccc;
}

.ms-location-block .ms-location-menu .ms-location-toggle .ms-location-title {
    color: #ccc;
}

.ms-location-block .ms-location-menu .ms-location-toggle i {
    color: #ccc;
}

.ms-location-block .ms-location-menu .ms-location-toggle .svg_loc path {
    fill: #ccc;
}

.ms-header-bottom {
    border-color: #272930;
}

.ms-header-bottom .ms-site-menu-icon .svg_img path {
    fill: #ccc;
}

.ms-mobile-menu {
    background-color: #17181c !important;
}

.ms-mobile-menu .ms-menu-title {
    border-color: #272930;
}

.ms-mobile-menu .ms-menu-title .menu_title {
    color: #ccc;
}

.ms-mobile-menu .ms-menu-title .ms-close-menu {
    color: #ccc;
}

.ms-mobile-menu .ms-menu-inner .ms-mobile-search form input {
    background-color: #17181c !important;
    border-color: #272930;
    color: #ccc;
}

.ms-mobile-menu .ms-menu-inner .ms-menu-content ul li a {
    color: #ccc;
    border-color: #272930;
}

.ms-mobile-menu .ms-menu-inner .ms-menu-content ul li .menu-toggle:before {
    color: #ccc;
}

.ms-mobile-menu .ms-menu-inner .ms-menu-content ul li .sub-menu li a {
    color: #999;
    border-color: #272930;
}

.ms-category-sidebar {
    background-color: #17181c !important;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-title h3 {
    color: #ccc;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content .ms-list {
    border-color: #272930;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content li .ms-sidebar-block-item {
    color: #ccc;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content li .ms-sidebar-block-item:after {
    color: #ccc;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content li .ms-sidebar-sub-item a {
    color: #ccc;
}

.cat-sidebar .cat-sidebar-box .ms-cat-sidebar-wrap .ms-sidebar-block .ms-sb-block-content ul ul {
    border-color: #272930;
}

.ms-side-wish {
    background-color: #17181c !important;
}

.ms-side-wish .ms-wish-inner .ms-wish-title {
    border-color: #272930;
}

.ms-side-wish .ms-wish-inner .ms-wish-title .wish_title {
    color: #ccc;
}

.ms-side-wish .ms-wish-inner .ms-wish-title .ms-wish-close .svg_img path {
    fill: #ccc;
}

.ms-side-wish .ms-wish-inner .ms-wish-pro-items li {
    border-color: #272930;
}

.ms-side-wish .ms-wish-inner .ms-wish-pro-items li .ms-pro-content .wish-pro-title {
    color: #ccc;
}

.ms-side-wish .ms-wish-inner .ms-wish-pro-items li .ms-pro-content .wish-price {
    color: #ccc;
}

.ms-side-wish .ms-wish-inner .ms-wish-pro-items li .ms-pro-content .wish-price span {
    color: #ccc;
}

.ms-side-wish .ms-wish-inner .ms-wish-pro-items li .ms-pro-content .ms-availability a {
    color: #ccc;
    background-color: #333;
}

.ms-side-wish .ms-wish-inner .ms-wish-pro-items li .ms-pro-content .ms-availability a:hover {
    background-color: #000;
}

.ms-side-cart {
    background-color: #17181c !important;
}

.ms-side-cart .ms-cart-inner .ms-cart-pro-items li {
    border-color: #272930;
}

.ms-side-cart .ms-cart-inner .ms-cart-pro-items li .ms-pro-content .qty-plus-minus {
    border-color: #272930;
}

.ms-side-cart .ms-cart-inner .ms-cart-pro-items li .ms-pro-content .qty-plus-minus .ms-qtybtn,
.ms-side-cart .ms-cart-inner .ms-cart-pro-items li .ms-pro-content .qty-plus-minus input {
    color: #ccc;
}

.ms-side-cart .ms-cart-inner .ms-cart-pro-items li .ms-pro-content .cart-pro-title {
    color: #ccc;
}

.ms-side-cart .ms-cart-inner .ms-cart-pro-items li .ms-pro-content .cart-price {
    color: #ccc;
}

.ms-side-cart .ms-cart-inner .ms-cart-pro-items li .ms-pro-content .cart-price span {
    color: #ccc;
}

.ms-side-cart .ms-cart-inner .ms-cart-title {
    border-color: #272930;
}

.ms-side-cart .ms-cart-inner .ms-cart-title .cart_title {
    color: #ccc;
}

.ms-side-cart .ms-cart-inner .ms-cart-title .ms-cart-close svg.svg_img.pro_svg path {
    fill: #ccc !important;
}

.ms-side-cart .ms-cart-inner .ms-cart-bottom .cart-sub-total table tr td.text-left {
    color: #ccc;
}

.ms-side-cart .ms-cart-inner .ms-cart-bottom .cart-sub-total table tr td.text-right {
    color: #ccc;
}

.ms-side-cart .ms-cart-inner .ms-cart-bottom .cart_btn a {
    color: #ccc;
    background-color: #333;
}

.ms-side-cart .ms-cart-inner .ms-cart-bottom .cart_btn a:hover {
    background-color: #000;
}

.ms-category .ms-category-block {
    border-color: #272930;
}

.ms-category .ms-category-block .ms-cat-box {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-category .ms-category-block .ms-cat-box .ms-cat-icon .ms-cat-title {
    color: #ccc;
}

.ms-category .ms-category-block .ms-cat-box .ms-cat-icon .items {
    color: #999;
}

.ms-insta-inner a {
    border: 0;
}

.ms-pro-tab-nav .nav-item .nav-link {
    color: #ccc;
}

.ms-product-inner {
    border-color: #272930;
}

.ms-product-inner .ms-pro-content {
    background-color: #17181c !important;
}

.ms-product-inner .ms-pro-content .ms-pro-title a {
    color: #ccc;
}

.ms-product-inner .ms-pro-content .ms-price span.new-price {
    color: #ccc;
}

.ms-product-inner .ms-pro-content .ms-pro-rating .qty {
    color: #eee;
}

.ms-product-inner .ms-pro-image .ms-pro-actions .ms-btn-group {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-product-inner .ms-pro-image .ms-pro-actions .ms-btn-group .svg_img.pro_svg {
    fill: #ccc;
}

.ms-new-product-block .ms-all-product-inner {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-new-product-block .ms-all-product-inner .add-to-cart {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-new-product-block .ms-all-product-inner .add-to-cart .svg_img.pro_svg {
    fill: #ccc;
}

.ms-new-product-block .ms-pro-content .ms-pro-title a {
    color: #ccc;
}

.ms-new-product-block .ms-pro-content .ms-pro-stitle a {
    color: #ccc;
}

.ms-new-product-block .ms-pro-content span.qty {
    color: #eee;
}

.ms-deal-section .section-title .dealend-timer .dealend-timer {
    background-color: #17181c !important;
    border: 1px solid #272930;
}

.ms-deal-section .section-title .dealend-timer .dealend-timer .time-block {
    color: #ccc;
}

.ms-deal-section .section-title .dealend-timer .dealend-timer .time-block .day,
.ms-deal-section .section-title .dealend-timer .dealend-timer .time-block .dots {
    color: #ccc;
}

.ms-top-vendor .ms-top-vendor-block {
    background-color: #17181c !important;
}

.ms-top-vendor .ms-top-vendor-block .ms-vendor-detail {
    border-color: #272930;
}

.ms-top-vendor .ms-top-vendor-block .ms-vendor-detail .ms-vendor-info a,
.ms-top-vendor .ms-top-vendor-block .ms-vendor-detail .ms-vendor-info p {
    color: #ccc;
}

.ms-top-vendor .ms-top-vendor-block .ms-vendor-products a {
    border-color: #272930;
}

.ms-ser-inner {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-service-desc h3 {
    color: #ccc;
}

.ms-service-desc p {
    color: #999;
}

.ms-blog .news-info,
.ms-news-section .news-info {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-blog .news-info .detail h3 a,
.ms-news-section .news-info .detail h3 a {
    color: #ccc;
}

.ms-blog .news-info .detail p,
.ms-news-section .news-info .detail p {
    color: #999;
}

.ms-blog .news-info .detail .more-info a,
.ms-news-section .news-info .detail .more-info a {
    background-color: #333;
    border-color: transparent;
}

.ms-blog .news-info .detail .more-info a:hover,
.ms-news-section .news-info .detail .more-info a:hover {
    background-color: #000;
    color: #fff;
}

.ms-listing .ms-list-block .ms-list-title {
    color: #ccc;
}

.ms-listing .ms-list-block ul li {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-listing .ms-list-block ul li a {
    color: #ccc;
}

.ms-listing .ms-list-block ul li a span {
    color: #999;
}

.ms-newsletter .ms-newsletter-detail .ms-newsletter-form form {
    border-color: #272930;
}

.ms-newsletter .ms-newsletter-detail .ms-newsletter-form form input {
    background-color: #17181c !important;
    color: #ccc;
}

.ms-breadcrumb {
    background-color: #101012 !important;
    border-color: #272930;
}

.ms-breadcrumb .ms-breadcrumb-title {
    color: #ccc;
}

.ms-breadcrumb .ms-breadcrumb-list li a {
    color: #ccc;
}

.ms-about .ms-about-detail .section-title p {
    color: #ccc;
}

.ms-about .ms-about-detail p {
    color: #999;
}

.testim-bg {
    background-color: #17181c !important;
    border-color: #272930;
    background-image: url(../img/banner/dark-4.png);
    background-size: 10px;
    background-position: center;
}

.ms-test-section .ms-test-content .ms-test-desc {
    color: #ccc;
}

.ms-facts-section .ms-facts-inner {
    background-color: #101012 !important;
}

.ms-facts-section .ms-facts-inner h4 {
    color: #ccc;
}

.ms-facts-section .ms-facts-inner .counter {
    color: #2a2a2a;
}

.ms-facts-section .ms-facts-inner p {
    color: #999;
}

.ms-team-section .ms-team-box .ms-team-info h5 {
    color: #ccc;
}

.ms-team-section .ms-team-box .ms-team-info p {
    color: #999;
}

.ms-single-blog-item .single-blog-info .single-blog-detail h3 {
    color: #ccc;
}

.ms-single-blog-item .single-blog-info .single-blog-detail p {
    color: #999;
}

.ms-pro-pagination {
    border-color: #272930;
}

.ms-pro-pagination ul li a {
    background-color: #101012 !important;
    color: #ccc;
}

.ms-pro-pagination ul li a:hover {
    background-color: #17181c !important;
}

.ms-pro-pagination ul li a.active {
    background-color: #17181c !important;
}

.ms-pro-pagination ul li a.next {
    border-color: transparent;
    background-color: #17181c !important;
}

.ms-pro-pagination span {
    color: #ccc;
}

.ms-blog-comments .ms-blog-dms-title {
    background-color: #17181c !important;
    color: #ccc;
}

.ms-blog-comments .ms-single-comment-wrapper .ms-blog-comment-content h5 {
    color: #ccc;
}

.ms-blog-comments .ms-single-comment-wrapper .ms-blog-comment-content p {
    color: #ccc;
}

.ms-blog-comments .ms-blog-cmt-form .ms-blog-form input,
.ms-blog-comments .ms-blog-cmt-form .ms-blog-form textarea {
    border-color: #272930;
    color: #ccc;
    background-color: #17181c !important;
}

.ms-blogs-sidebar .ms-blog-search {
    border-color: #272930;
}

.ms-blogs-sidebar .ms-blog-search .ms-blog-search-form {
    background-color: #17181c !important;
}

.ms-blogs-sidebar .ms-blog-sidebar-wrap {
    border-color: #272930;
}

.ms-blogs-sidebar .ms-sb-title {
    color: #ccc;
    border-color: #272930;
}

.ms-blogs-sidebar .ms-sidebar-block .ms-sidebar-block-item {
    border-color: #272930;
}

.ms-blogs-sidebar .ms-sidebar-block .ms-sidebar-block-item .ms-sidebar-block-detial .ms-blog-title a {
    color: #ccc;
}

.ms-blogs-sidebar .ms-sidebar-block .ms-sidebar-block-item a {
    color: #ccc;
}

.ms-blogs-sidebar .ms-sidebar-block .ms-sidebar-block-item .checked {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-cart-content .table-content table {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-cart-content .table-content table thead>tr {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-cart-content .table-content table thead>tr>th {
    color: #ccc;
}

.ms-cart-content .table-content table tbody>tr {
    border-color: #272930;
}

.ms-cart-content .table-content table tbody>tr td .cart-qty-plus-minus {
    border-color: #272930;
}

.ms-cart-content .table-content table tbody>tr td .cart-qty-plus-minus input {
    color: #999;
}

.ms-cart-content .table-content table tbody>tr td.ms-cart-pro-name a {
    color: #999;
}

.ms-cart-content .table-content table tbody>tr td.ms-cart-pro-price {
    color: #999;
}

.ms-cart-content .table-content table tbody>tr td.ms-cart-pro-subtotal {
    color: #999;
}

.ms-cart-section .ms-sidebar-wrap {
    border-color: #272930;
}

.ms-cart-section .ms-sidebar-wrap .ms-sb-title h3 {
    color: #ccc;
}

.ms-cart-section .ms-sidebar-wrap .ms-ship-title {
    border-color: #272930;
}

.ms-cart-form label {
    color: #ccc;
}

.ms-cart-form p {
    color: #999;
}

.ms-cart-form .ms-cart-select-inner {
    border-color: #272930;
}

.ms-cart-form select {
    background-color: #17181c !important;
    color: #999;
}

.ms-cart-form input {
    background-color: #17181c !important;
    border-color: #272930;
    color: #999;
}

.ms-cart-summary-bottom .ms-cart-summary .ms-cart-summary-total {
    border-color: #272930;
}

.ms-cart-summary-bottom .ms-cart-summary .text-left,
.ms-cart-summary-bottom .ms-cart-summary .text-right {
    color: #ccc;
}

.ms-cart-coupan-form {
    border-color: #272930;
}

.ms-checkout-wrap {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-checkout-wrap h3 {
    color: #ccc;
}

.ms-checkout-wrap .ms-check-bill-form label {
    color: #999;
}

.ms-checkout-wrap .ms-check-bill-form input {
    background-color: #17181c !important;
    border-color: #272930;
    color: #999;
}

.ms-checkout-wrap .ms-check-bill-form .ms-bl-select-inner {
    border-color: #272930;
}

.ms-checkout-wrap .ms-check-bill-form .ms-bl-select-inner select {
    background-color: #17181c !important;
    color: #999;
}

.ms-checkout-section [type=radio]:not(:checked)+label {
    color: #999;
}

.ms-checkout-section [type=radio]:not(:checked)+label:before {
    background-color: #101012 !important;
    border-color: #3e9172;
}

.ms-checkout-section [type=radio]:checked+label {
    color: #999;
}

.ms-checkout-section [type=radio]:checked+label:before {
    background-color: #101012 !important;
    border-color: #3e9172;
}

.ms-new-desc {
    color: #999;
}

.ms-check-login-form label {
    color: #999;
}

.ms-check-login-form input {
    background-color: #17181c !important;
    border-color: #272930;
    color: #999;
}

.ms-check-login-form .ms-check-login-btn .ms-btn-2 {
    background-color: #333;
}

.ms-check-login-form .ms-check-login-btn .ms-btn-2:hover {
    background-color: #000;
}

.ms-check-subtitle {
    color: #999;
}

.ms-sidebar-wrap {
    border-color: #272930;
}

.ms-sidebar-wrap .ms-sb-title h3 {
    color: #ccc;
}

.ms-sidebar-wrap .ms-sidebar-block .ms-sb-block-content .ms-del-desc {
    color: #999;
}

.ms-sidebar-wrap .ms-sidebar-block .ms-sb-block-content .ms-del-opt-head {
    color: #999;
}

.ms-sidebar-wrap .ms-sidebar-block .ms-sb-block-content .ms-pay-opt-head {
    color: #999;
}

.ms-sidebar-wrap .ms-sidebar-block .ms-sb-block-content .ms-pay-desc {
    color: #999;
}

.ms-sidebar-wrap.ms-checkout-pay-wrap .ms-pay-agree a {
    color: #999;
}

.ms-sidebar-wrap.ms-checkout-pay-wrap .ms-pay-agree a span {
    color: #3e9172;
}

.ms-sidebar-wrap.ms-checkout-del-wrap textarea {
    border-color: #272930;
    color: #999;
}

.ms-checkout-summary .text-left {
    color: #999;
}

.ms-checkout-summary .text-right {
    color: #999;
}

.ms-checkout-summary .ms-checkout-summary-total .text-left {
    color: #999;
}

.ms-product-inner {
    background-color: #17181c !important;
}

.ms-checkout-coupan-form {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-checkout-coupan-form .ms-coupan {
    background-color: #17181c !important;
    color: #999;
}

.ms-checkout-coupan-form .ms-coupan-btn {
    background-color: #333;
}

.ms-checkout-coupan-form .ms-coupan-btn:hover {
    background-color: #000;
}

.ms-compare-box .ms-compare-cell:not(:last-child) {
    border-color: #272930;
}

.ms-compare-box .ms-compare-col {
    border-color: #272930;
}

.ms-compare-box .ms-compare-cell h5 {
    color: #ccc;
}

.ms-compare-box .ms-compare-cell p {
    color: #999;
}

.ms-contact form .form-group input,
.ms-contact form .form-group textarea {
    background-color: #17181c !important;
    border-color: #272930;
    color: #ccc;
}

.ms-contact .ms-contact-detail .ms-box {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-contact .ms-contact-detail .ms-box .info h3 {
    color: #ccc;
}

.ms-contact .ms-contact-detail .ms-box .info p {
    color: #999;
}

.ms-accordion.style-1 .ms-accordion-item .ms-accordion-header {
    background-color: #2c2f36 !important;
    color: #ccc;
}

.ms-accordion.style-1 .ms-accordion-item .ms-accordion-header:after {
    color: #ccc;
}

.ms-accordion.style-1 .ms-accordion-body {
    background-color: #17181c !important;
    color: #999;
    border-color: #272930;
}

.ms-login-wrapper .ms-login-container {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-login-wrapper .ms-login-container .ms-login-form input {
    background-color: #17181c !important;
    border-color: #272930;
    color: #ccc;
}

.ms-login-wrapper .ms-login-container .ms-login-form .ms-login-btn span a {
    color: #999;
}

.ms-terms-conditions .ms-common-wrapper,
.ms-privacy-policy .ms-common-wrapper {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-terms-conditions .ms-cms-block h5,
.ms-privacy-policy .ms-cms-block h5 {
    color: #ccc;
}

.ms-terms-conditions .ms-cms-block p,
.ms-privacy-policy .ms-cms-block p {
    color: #999;
}

.ms-single-product .single-pro-img .single-product-scroll {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-single-product .single-pro-content .ms-single-title {
    color: #ccc;
}

.ms-single-product .single-pro-content .ms-single-price-stoke .ms-single-sku {
    color: #ccc;
}

.ms-single-product .single-pro-content .ms-single-price .final-price {
    color: #ccc;
}

.ms-single-product .single-pro-content .ms-single-price .mrp {
    color: #999;
}

.ms-single-product .single-pro-content .ms-single-desc {
    color: #999;
}

.ms-single-product .single-pro-content .ms-single-list ul li {
    color: #999;
}

.ms-single-product .single-pro-content .ms-pro-variation .ms-pro-variation-inner>span {
    color: #ccc;
}

.ms-single-product .single-pro-content .ms-pro-variation .ms-pro-variation-inner .ms-pro-variation-content li {
    background-color: #17181c !important;
    border-color: #272930;
    color: #ccc;
}

.ms-single-product .single-pro-content .ms-single-qty .qty-plus-minus {
    border-color: #272930;
}

.ms-single-product .single-pro-content .ms-single-qty .qty-plus-minus input.qty-input {
    color: #ccc;
}

.ms-single-product .single-pro-content .ms-single-qty .qty-plus-minus .ms-qtybtn {
    color: #ccc;
}

.ms-single-product .single-pro-content .ms-single-qty .ms-btn-group {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-single-product .single-pro-content .ms-single-qty .ms-btn-group .svg_img.pro_svg path {
    fill: #ccc !important;
}

.ms-single-product .single-add-more .add-more-item {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-single-product .single-add-more .add-more-item .add-more-info h5 {
    color: #ccc;
}

.ms-single-product .single-add-more .add-more-item .add-more-info .new-price {
    color: #ccc;
}

.ms-single-product .ms-single-pro-tab-content {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-single-product .ms-single-pro-tab-content .ms-single-pro-tab-desc p {
    color: #999;
}

.ms-single-product .ms-single-pro-tab-content .ms-single-pro-tab-desc ul li {
    color: #999;
}

.ms-single-product .ms-single-pro-tab-content .ms-single-pro-tab-moreinfo li span {
    color: #ccc !important;
}

.ms-single-product .ms-single-pro-tab-content .ms-single-pro-tab-moreinfo p {
    color: #999;
}

.ms-single-product .ms-single-pro-tab-content .ms-single-pro-tab-moreinfo ul li {
    color: #999;
}

.ms-single-product .ms-single-pro-tab-content .ms-product-vendor .ms-vendor-info h5 {
    color: #ccc;
}

.ms-single-product .ms-single-pro-tab-content .ms-t-review-item {
    border-color: #272930;
}

.ms-single-product .ms-single-pro-tab-content .ms-t-review-item .ms-t-review-top .ms-t-review-name {
    color: #ccc;
}

.ms-single-product .ms-single-pro-tab-content .ms-t-review-item .ms-t-review-bottom p {
    color: #999;
}

.ms-single-product .ms-single-pro-tab-content .ms-ratting-content h3 {
    color: #ccc;
}

.ms-single-product .ms-single-pro-tab-content .ms-ratting-content .ms-ratting-star span {
    color: #999;
}

.ms-single-product .ms-single-pro-tab-content .ms-ratting-content .ms-ratting-input input,
.ms-single-product .ms-single-pro-tab-content .ms-ratting-content .ms-ratting-input textarea {
    background-color: #17181c !important;
    border-color: #272930;
    color: #ccc;
}

.ms-single-product .ms-single-pro-tab-content .ms-ratting-content .ms-ratting-input .form-submit button {
    background-color: #333;
}

.ms-single-product .ms-single-pro-tab-nav .nav-tabs .nav-link {
    background-color: #17181c !important;
    border-color: #272930;
    color: #ccc;
}

.ms-shop-sidebar .ms-sb-title {
    border-color: #272930;
}

.ms-shop-sidebar .ms-sidebar-block .ms-sidebar-block-item {
    border-color: #272930;
}

.ms-shop-sidebar .ms-sidebar-block .ms-sidebar-block-item .checked {
    background-color: #2c2f36;
    border-color: #272930;
}

.ms-shop-sidebar .ms-sidebar-block .ms-sidebar-block-item a {
    color: #999;
}

.ms-price-range-slider .ms-price-input {
    background-color: #17181c !important;
}

.ms-price-range-slider .ms-price-input label {
    color: #999;
}

.ms-price-range-slider .filter__input {
    background-color: #2c2f36 !important;
    border-color: #272930;
    color: #ccc;
}

.ms-register-wrapper .ms-register-container {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-register-wrapper .ms-register-container .ms-register-form input {
    background-color: #17181c !important;
    border-color: #272930;
    color: #ccc;
}

.ms-register-wrapper .ms-register-container .ms-register-form .ms-rg-select-inner {
    border-color: #272930;
}

.ms-register-wrapper .ms-register-container .ms-register-form .ms-rg-select-inner select {
    background-color: #17181c !important;
    color: #ccc;
}

.ms-register-wrapper .ms-register-container .ms-register-form .ms-register-btn span a {
    color: #ccc;
}

.ms-register-wrapper .ms-register-container .ms-register-form .ms-register-btn button {
    background-color: #333;
}

.ms-register-wrapper .ms-register-container .ms-register-form .ms-register-btn button:hover {
    background-color: #000;
}

.ms-shop .ms-pro-list-top {
    border-color: #272930;
}

.ms-shop .ms-pro-list-top .ms-gl-btn .grid-btn .svg_img path {
    fill: #ccc;
}

.ms-shop .ms-pro-list-top .grid-btn.active .svg_img path {
    fill: #fff;
}

.ms-shop .ms-pro-list-top .ms-sort-select .ms-select-inner {
    border-color: #272930;
}

.ms-shop .ms-pro-list-top .ms-sort-select .ms-select-inner select {
    background-color: #17181c !important;
    color: #ccc;
}

.ms-shop .ms-pro-list-top .ms-sort-select .ms-select-inner:after {
    color: #ccc;
}

.ms-shop .ms-select-bar .ms-select-btn {
    color: #999;
    border-color: #272930;
}

.ms-shop .ms-select-btn-clear .ms-select-clear {
    background-color: #333;
    border-color: #272930;
    color: #ccc;
}

.ms-shop .ms-select-btn-clear .ms-select-clear:hover {
    background-color: #000 !important;
}

.list-view .ms-product-inner .ms-pro-content .ms-pro-title a,
.list-view-50 .ms-product-inner .ms-pro-content .ms-pro-title a {
    color: #ccc;
}

.list-view .ms-product-inner .ms-pro-content .ms-info,
.list-view-50 .ms-product-inner .ms-pro-content .ms-info {
    color: #999;
}

.ms-filter-sidebar .sidebar-filter-title {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-filter-sidebar .sidebar-filter-title h5 {
    color: #ccc;
}

#shop_sidebar {
    background-color: #101012 !important;
}

.ms-track .ms-track-box {
    background-color: #17181c !important;
    border-color: #272930;
}

.ms-track .ms-track-card {
    border-color: #272930;
}

.ms-track .ms-track-card .ms-track-title {
    color: #ccc;
}

.ms-track .ms-steps,
.ms-track .ms-step {
    border-color: #272930;
    color: #999;
}

.ms-track .ms-step:hover {
    color: #ccc;
}

.ms-track .ms-step:hover .ms-step-icon {
    color: #ccc;
}

.ms-track .ms-step-active {
    color: #ccc;
}

.ms-track .ms-steps-header {
    border-color: #272930;
}

.ms-track .progress {
    background: #272930;
}

#ms-popnews-box {
    background-color: #17181c !important;
    border-color: #272930;
}

#ms-popnews-box h2 {
    color: #ccc;
}

#ms-popnews-box p {
    color: #999;
}

#ms-popnews-box input {
    background-color: #2c2f36 !important;
    border-color: #272930;
    color: #ccc;
}

#ms-popnews-box button {
    background-color: #333;
}

#ms-popnews-box button:hover {
    background-color: #000;
}

.ms-features-sidebar {
    background-color: #17181c !important;
}

.ms-features-sidebar .tool-title {
    background-color: #2c2f36 !important;
    border-color: #272930;
}

.ms-features-sidebar .tool-title h3 {
    color: #ccc;
}

.ms-features-sidebar .ms-features-block .ms-features-title {
    color: #999;
}


/*# sourceMappingURL=dark-mode.css.map */